body {
  margin: 0;
  background-color: bisque;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  color: red;
}
h2 {
  color: aqua;
}
h3 {
  color: rgba(42, 219, 19, 0.774);
}
.conty {
  border: 3px greenyellow solid;
}
