@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Xanh+Mono&display=swap");
body {
  margin: 0;
  background-color: rgb(200, 237, 240);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ff007b;
  text-decoration: none;
}

.Navtab {
  position: sticky;
  top: 0px;
  height: 4rem;
  z-index: 28;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: rgb(36, 186, 197);
}

.Websitename {
  font-family: "Xanh Mono", Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  color: bisque;
  display: inline;
}

.Introduction {
  display: flex;
  justify-content: center;
  height: 350px;
}

.Aboutsection {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 6rem;

  font-family: "Xanh Mono", Arial, Helvetica, sans-serif;
  width: 100%;
}
.Thephoto {
  width: 100%;
  height: 350px;
}
.Main {
  border: 2px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.Jobcard {
  border: 3px rgb(223, 24, 24) solid;
  background-color: bisque;
  width: 80%;
}
.thejobtitle {
  color: aqua;
  font-size: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: 3px aqua solid;
}
.thedepartment {
  color: black;
  font-size: 15px;
  font-family: "Xanh Mono", Arial, Helvetica, sans-serif;
  border: 3px black solid;
}
.thelocation {
  color: green;
  font-size: 15px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border: 3px green solid;
}
.thedescription {
  color: blueviolet;
  font-size: 15px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  border: 3px blueviolet solid;
}
.thesalary {
  color: black;
  font-size: 12px;
  border: 3px pink solid;
}

.Pagefooter {
  border: 3px rgb(218, 49, 19) solid;
  position: static;
  color: blue;
  bottom: 1px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  z-index: 28;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(200, 237, 240);
}
